Open_ML German Credit Dataset

Load Dataset

In [7]:
# Load necessary libraries
import pandas as pd 
import numpy as np 
from sklearn.datasets import fetch_openml
import matplotlib.pyplot as plt

In [8]:
#load credit-g dataset from OpenML
#https://www.openml.org/d/31
#German Credit dataset
#This dataset classifies people described by a set of attributes as good or bad credit risks.
creditg = fetch_openml(name='credit-g',  as_frame=True)
print(creditg.frame.columns)
print(creditg.frame.describe())
print(creditg.details)

Index(['checking_status', 'duration', 'credit_history', 'purpose',
       'credit_amount', 'savings_status', 'employment',
       'installment_commitment', 'personal_status', 'other_parties',
       'residence_since', 'property_magnitude', 'age', 'other_payment_plans',
       'housing', 'existing_credits', 'job', 'num_dependents', 'own_telephone',
       'foreign_worker', 'class'],
      dtype='object')
          duration  credit_amount  installment_commitment  residence_since  \
count  1000.000000    1000.000000             1000.000000      1000.000000
mean     20.903000    3271.258000                2.973000         2.845000
std      12.058814    2822.736876                1.118715         1.103718
min       4.000000     250.000000                1.000000         1.000000
25%      12.000000    1365.500000                2.000000         2.000000
50%      18.000000    2319.500000                3.000000         3.000000
75%      24.000000    3972.250000                4.000000         4.000000
max      72.000000   18424.000000                4.000000         4.000000

               age  existing_credits  num_dependents
count  1000.000000       1000.000000     1000.000000
mean     35.546000          1.407000        1.155000
std      11.375469          0.577654        0.362086
min      19.000000          1.000000        1.000000
25%      27.000000          1.000000        1.000000
50%      33.000000          1.000000        1.000000
75%      42.000000          2.000000        1.000000
max      75.000000          4.000000        2.000000
{'id': '31', 'name': 'credit-g', 'version': '1', 'description_version': '31', 'format': 'ARFF', 'creator': 'Dr. Hans Hofmann', 'collection_date': '1994-11-17', 'upload_date': '2014-04-06T23:21:47', 'language': 'English', 'licence': 'Public', 'url': 'https://api.openml.org/data/v1/download/31/credit-g.arff', 'parquet_url': 'https://data.openml.org/datasets/0000/0031/dataset_31.pq', 'file_id': '31', 'default_target_attribute': 'class', 'version_label': '1', 'citation': 'https://archive.ics.uci.edu/ml/citation_policy.html', 'tag': ['credit_scoring', 'Data Science', 'Economics', 'finance_problem', 'mythbusting_1', 'OpenML-CC18', 'OpenML100', 'Statistics', 'study_1', 'study_123', 'study_14', 'study_144', 'study_15', 'study_20', 'study_218', 'study_241', 'study_34', 'study_37', 'study_41', 'study_50', 'study_52', 'study_7', 'study_70', 'study_98', 'study_99', 'uci'], 'visibility': 'public', 'original_data_url': 'https://archive.ics.uci.edu/ml/datasets/statlog+(german+credit+data)', 'paper_url': 'https://dl.acm.org/doi/abs/10.1145/967900.968104', 'minio_url': 'https://data.openml.org/datasets/0000/0031/dataset_31.pq', 'status': 'active', 'processing_date': '2020-11-20 19:44:53', 'md5_checksum': '9a475053fed0c26ee95cd4525e50074c'}

/home/codespace/.local/lib/python3.12/site-packages/sklearn/datasets/_openml.py:323: UserWarning: Multiple active versions of the dataset matching the name credit-g exist. Versions may be fundamentally different, returning version 1. Available versions:
- version 1, status: active
  url: https://www.openml.org/search?type=data&id=31
- version 2, status: active
  url: https://www.openml.org/search?type=data&id=44096

  warn(warning_msg)

In [9]:
df = creditg.frame
df.head()

,checking_status,duration,credit_history,purpose,credit_amount,savings_status,employment,installment_commitment,personal_status,other_parties,...,property_magnitude,age,other_payment_plans,housing,existing_credits,job,num_dependents,own_telephone,foreign_worker,class
0,<0,6,critical/other existing credit,radio/tv,1169,no known savings,>=7,4,male single,none,...,real estate,67,none,own,2,skilled,1,yes,yes,good
1,0<=X<200,48,existing paid,radio/tv,5951,<100,1<=X<4,2,female div/dep/mar,none,...,real estate,22,none,own,1,skilled,1,none,yes,bad
2,no checking,12,critical/other existing credit,education,2096,<100,4<=X<7,2,male single,none,...,real estate,49,none,own,1,unskilled resident,2,none,yes,good
3,<0,42,existing paid,furniture/equipment,7882,<100,4<=X<7,2,male single,guarantor,...,life insurance,45,none,for free,1,skilled,2,none,yes,good
4,<0,24,delayed previously,new car,4870,<100,1<=X<4,3,male single,none,...,no known property,53,none,for free,2,skilled,2,none,yes,bad

Exploratory Data Analysis

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 21 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   checking_status         1000 non-null   category
 1   duration                1000 non-null   int64
 2   credit_history          1000 non-null   category
 3   purpose                 1000 non-null   category
 4   credit_amount           1000 non-null   int64
 5   savings_status          1000 non-null   category
 6   employment              1000 non-null   category
 7   installment_commitment  1000 non-null   int64
 8   personal_status         1000 non-null   category
 9   other_parties           1000 non-null   category
 10  residence_since         1000 non-null   int64
 11  property_magnitude      1000 non-null   category
 12  age                     1000 non-null   int64
 13  other_payment_plans     1000 non-null   category
 14  housing                 1000 non-null   category
 15  existing_credits        1000 non-null   int64
 16  job                     1000 non-null   category
 17  num_dependents          1000 non-null   int64
 18  own_telephone           1000 non-null   category
 19  foreign_worker          1000 non-null   category
 20  class                   1000 non-null   category
dtypes: category(14), int64(7)
memory usage: 71.0 KB